* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: gray;
	font-weight: 700;
	padding: 10px;
	height: 100vh;
	display: grid;
    place-items: start;
}
.showcase {
	width: 95vw;
	display: grid;
	gap: 2px;
}
.showcase > * {
	padding: 10px;
    background-color: burlywood;
	padding-bottom: 3px;
	padding-top: 3px;
}




@media screen and (min-width: 64em) {
	.showcase {
		grid-template-columns: 150px 1fr;
		grid-template-rows: 50px repeat(2, 1fr) 50px;
		grid-template-areas:
			'header header'
			'sidebar main'
			'sidebar main'
			'sidebar footer';
	}
	.header {
		grid-area: header;
	}
	.sidebar {
		grid-area: sidebar;
	}
	.main {
		grid-area: main;
	}
	.footer {
		grid-area: footer;
	}
}
