/* MAIN PAGE GRID LAYOUT */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: gray;
	font-weight: 700;
	/* padding: 10px; */
	height: 100vh;
	display: grid;
    place-items: start;
}
.br-showcase {
    display: flex; contain: content;
	width: 100vw;
	display: grid;
	gap: 2px;
    border-radius: 5px;
}
.br-showcase > * {
    /* display: flex; contain: content; */
	padding: 10px;
    background-color: white;
	padding-bottom: 2px;
	padding-top: 2px;
}
@media screen and (min-width: 50em) {
	.br-showcase {
		grid-template-columns: 150px 1fr;
		grid-template-rows: 71.4px repeat(2, 1fr) 50px;
        /* above first XXpx creates space between header & main */
		grid-template-areas:
			'header header'
			'sidebar main'
			'sidebar main'
			'sidebar footer';
	}
	.br-header {
		grid-area: header;
	}
	.br-sidebar {
		grid-area: sidebar;
	}
	.br-main {
		grid-area: main;
	}
	.br-footer {
		grid-area: footer;
	}
}
/* END PAGE GRID LAYOUT */


/* HEADER SECTION */

.header-top{
    display: flex; flex-direction: row; align-items: center;
    justify-content: space-between;
    margin-left: 5px; margin-right: 5px;
}

.header-bottom{
    display: flex; flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    font-size: x-large;
}

.logo{
    display: inline-block;
    width: 100vw;
    object-fit: 50px;
}

.search-container{
    display: flex; justify-content: center; align-items: center;
    padding-left: 20px;
    width: 85vw; 
    height: 50%;
}

#searchbox{
    height: 22px;
    border: 2px solid black;
}

.nav-btn:link {
    text-decoration: none;
}

.nav-btn:visited {
    text-decoration: none;
    color: maroon;
}

.nav-btn:hover {
    color: red; 
    text-shadow: 5px 5px 5px black;
    transform: scale(1.1);
    transition: all .2s ease-out;
}

/* END OF HEADER SECTION */










/* CART */

/* PAYMENT FORM */
/* Base styles */
/* *,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	display: grid;
	place-items: center;
	background-color: #151515;
}
input,
button {
	font: inherit;
	border: none;
	outline: none;
} */
/* Base styles end */
/* .form {
	max-width: 350px;
	background-color: rgb(183, 183, 183);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 25px;
}
.checkout-method {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}
.button {
	background-color: #242424;
	color: #fff;
	padding: 5px;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.5s;
}
.button:is(:hover, :focus) {
	background-color: #353535;
	color: #fff;
}
.button i {
	font-size: 24px;
}
.button--inactive {
	background-color: #f2f2f2;
	color: #242424;
}
.checkout-information,
.input-group {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.input-group {
	gap: 5px;
}
.input-group label {
	font-size: 14px;
	color: #242424;
	font-weight: bold;
}
.input-group input {
	width: 100%;
	padding: 5px 15px;
	border-radius: 8px;
	background-color: #f2f2f2;
}
.input-group input:focus {
	outline: 2px solid #242424;
	background-color: transparent;
}
.horizontal-grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 15px;
}
.button--checkout {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 15px 0;
} */


/* ----------------------------------------------------- */
/* PROFILE */

/* LOGIN / SIGNUP FORM */
.form {
    position: relative;
    max-width: 40rem;
    padding: 10rem 0;
    color: #fff;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1px 1rem rgba(0, 0, 0, .1);
    isolation: isolate;
}

.form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(to left, rgb(200, 0, 0),
            #560000);
    border-radius: 1rem 1rem 100% 100%;
    z-index: -1;
}

.form__title {
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
}

.form>form {
    padding: 2.5rem;
    background-color: inherit;
}

.form__input {
    position: relative;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}

.form__input>i {
    font-size: 2rem;
    margin-right: 1rem;
    color: #fc6767;
}

.form__input input {
    position: relative;
    width: 100%;
    font: inherit;
    padding: 1rem 0;
    margin-top: .5rem;
    border: none;
    outline: none;
}

.form__input .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 1px;
}

.form__input .bar::before {
    content: "";
    position: absolute;
    background-color: #fc6767;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.form__input>input:focus+.bar::before {
    transform: scaleX(1);
}

.form__button {
    display: block;
    margin: 2.5rem auto 3rem;
    padding: 1rem 5rem;
    background: linear-gradient(to left, #bc0000,
            red);
    color: #fff;
    font: inherit;
    border: .5rem solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 3rem;
}

.form__button:hover {
    background: linear-gradient(to right, red,
            maroon);
}

.form__switch {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: #a1a1a1;
}

.form__switch a {
    text-decoration: none;
    color: #fc6767;
}

.form__switch a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 43.75em) {
    .form::before {
        height: 30rem;
    }

    .form__title {
        left: 10rem;
        transform: none;
    }

    .form>form {
        transform: translateX(10rem);
        border-radius: inherit;
        box-shadow: inherit;
    }
}
/* END LOGIN / SIGNUP FORM */

/* SEARCH BAR */
#search {
    position: absolute;
    width: inherit;
    overflow-y: auto;
    max-height: 36%;
    border-bottom: 1px solid black;
}


#indSearchPic {
    width: 3vw;
    height: auto;
}

#indSearchItem {
    display: flex;
    border: 1px solid black;
    width: inherit;
    background-color: white;
    
}

#indSearchItem:hover {
    background-color: rgb(157, 142, 142);
}

/* ALL PRODUCTs */
.mainProductFlex {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30%;
    height: 75vh;
    margin-top: 5%;
    margin-left: 20%;
    /* border: 10px solid black; */
    
}
/* .singleProduct {
    display: block;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 2px outset rgb(193, 9, 9);
    background-color: green;
    width: 30vw;
    margin-bottom: 2%;
    margin-left: 5%;
    
} */

.singleProductImage {
    width: 20%;
    height: auto;
    /* border: 2px solid black; */
    /* margin-left: 40%; */
}

.singleProductImage:hover {
    transform: scale(1.2);
}

/* .itemInfoFlex {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 30vw;
    height: 10vh;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: yellow;
} */

/* SINGLE PAGE PRODUCT */
#singlePageFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    /* border: 2px solid black; */
}
#singlePageImage {
    width: 20vw;
    height: auto;
}

/*  PAGINATION */
.item {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1.7em;
    height: 1em;
    justify-content: center;
    width: 1em;
    background-color: lightgray;
  }
  
  
  .active {
    border: 1px outset black;
    border-radius: 50%;
    color: black;   
  }

  
  
  
  .next {
    border: 1px outset black;
    color: black;
    font-size: 1rem;
    height: 3vh;
    position: inherit;
    right: 0;
    width: 5vw;
  }
  
  .pagination {
    align-items: center;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    height: 5vh;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
    width: 20vw;
    margin-left: 33%;
    /* border: 2px solid black; */
  }
  
  
  .pagination-page {
    font-weight: 700;
    cursor: pointer;
}
  
  .previous {
    border: 1px outset black;
    cursor: pointer;
    color: black;
    font-size: 1rem;
    height: 3vh;
    left: 0;
    position: inherit;
    width: 5vw;
  }

.disabled-page {
    color: black;
    cursor: pointer;
    
  }

